<!-- <div class="starburt-comtainer">
    <div class="box">
    </div>
</div>  -->
        <a name="top"></a>
        <div class="menu-st">
            <ul>
                <li> <img src="../../assets/img/logo.png" width="90px" height="90px" alt="logo"></li>
                <li> <a href="#">COFFEE </a>
                    <div class="cooffee-list">                      
                        <table style="width:100%">
                            <tr>
                              <td>
                                  <h2> Our Coffees</h2>
                                  <p> Whole Bean Coffee</p>
                                  <p>View All Coffees</p>
                                  <br>
                                  <br>
                                  <h2>Ethical Sourcing</h2>
                                  <p> Coffee</p>
                                  <p> Coffee Quality</p>
                                  <p> Farmer Support</p>
                              </td>
                              <td> 
                                <h2>Find Your perfect Coffee</h2>
                                <br>
                                <br>
                                <br>
                                <br>
                                <h2> Learn More</h2>
                                <p>Starbucks Roast SpecTrum</p>
                                <p>Flavors in Your Cup</p>
                                <p> Coffee FAQ</p>
                              </td>
                              <td>
                                  <h2>Espresso</h2>
                                  <p> The Ingredients</p>
                                  <p> The Best Equipment</p>
                                  <p> Who Makes It</p>
                              </td>
                              <td>
                                  <h2>How to Brew Great Coffee</h2>
                                  <p> Coffee Press</p>
                                  <p>Pour-Over</p>
                                  <p> Iced Pour-Over</p>
                                  <p>Coffee Brewer</p>
                              </td>
                              <td rowspan="2">
                                <img src="../../assets/img/coffee.jpg" width="250px" height="100px" alt="coffee" />
                                <h2> Blonde Roast</h2>
                                <p> Mild and mellow</p>
                                <p>the lighter roasted</p>
                                <p>perfected</p>
                              </td>              
                            </tr>
                            <tr>
                                <td colspan="4" class="tdh"> 
                                    <p> Looking for Coffee Beverages?</p>
                                    <h2>Drink</h2>    
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li> <a href="#">MENU</a>
                    <div class="menu-list">
                        <table style="width:100%">
                            <tr>
                                <td>
                                    <h2>&nbsp;&nbsp;&nbsp;&nbsp;Drink</h2>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Espresso Beverages</p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Chocolate Beverages</p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Frappuccino Blended Coffee</p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Frappuccino Blended Cream</p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Brewed Tea</p>
                                </td>
                                <td>
                                    <h2> Food </h2>
                                    <p>Bakery</p>
                                    <p>Muffins</p>
                                    <p>Cookies</p>
                                    <p>Cakes</p>
                                    <p>Cold Sandwiches</p>
                                </td>
                                <td></td>
                                <td></td>
                                <td rowspan="2">
                                    <img src="../../assets/img/menu.jpg" width="250px" height="100px" alt="menu" />
                                    <h2> Real Food, Simply Delicious</h2>
                                    <p> See the food choices <br> we have in store.</p>
                                </td>           
                            </tr>
                            <tr>
                                <td colspan="4" class="tdh"> 
                                    <p>Looking for coffee to drink at home? </p>
                                    <p> Learn About the Starbucks Roast Spectrum &nbsp;&nbsp;&nbsp;&nbsp; <span> Coffee</span> </p>   
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li> <a href="#">COFFEEHOUSE </a>
                    <div class="cooffeehouse-list">
                        <table style="width:100%">
                            <tr>
                               <td><h2> Coffeemaster Program</h2></td>
                               <td><h2> online Community</h2> </td>
                               <td><h2>Store Design </h2></td>
                               <td>
                                   <h2> Merchandise</h2>
                                   <p> Drinkware</p>
                                   <p> Machines</p>
                                   <p> Accessories</p>
                               </td>
                               <td rowspan="2">
                                    <img src="../../assets/img/coffeehouse.jpg" width="250px" height="100px" alt="coffeehouse" />
                                    <h2> Our Coffee Brings <br> People Together</h2>
                                    <p> Have fun, dream big <br> and connect with <br> friends.</p>
                               </td>           
                           </tr>
                           <tr>
                                 <td colspan="4" class="tdh"> 
                                   <p> Looking for Something Else?</p>  
                                   <h2> <span> Drinks</span> &nbsp;&nbsp;&nbsp;&nbsp; <span>About Us</span></h2>
                                </td>
                           </tr>
                        </table>
                    </div>
                </li>
                <li> <a href="#">RESPONSIBILITY </a>
                    <div class="responsibility-list">
                        <table style="width:100%">
                            <tr>
                               <td>
                                    <h2> Ethical Sourcing</h2>
                                    <P> Coffee Sourcing</P>
                                    <p> Farmer Suppport</p>
                                    <p> Tea Sourcing</p>
                                    <p> Cocoa Sourcing</p>
                              </td>
                               <td>
                                    <h2> Environment</h2>
                                    <p> Recycling</p>
                                    <p> Energy</p>
                                    <p>Water</p>
                                    <p>Green Building</p>
                                    <p> CLimate Change</p>
                               </td>
                               <td></td>
                               <td></td>
                               <td rowspan="2" > 
                                    <img src="../../assets/img/responsibility.jpg" width="250px" height="100px" alt="responsibility" />
                                    <h2> Community Involement</h2>
                                    <p> We're inspring partners(employees) <br> and customers to get involved in their communities.</p>
                               </td>           
                           </tr>
                           <tr>
                                 <td colspan="4" class="tdh">
                                     <p> Looking for Starbucks Information ?</p>
                                     <h2> <span> About Us</span> &nbsp; &nbsp; &nbsp;&nbsp; <span> Coffee</span></h2>
                                 </td>
                           </tr>
                        </table>
                    </div>
                </li>
                <li> <a href="#">ABOUT US </a>
                    <div class="aboutus-list">
                        <table style="width:100%">
                            <tr>
                               <td>
                                    <h2>Our Heritage</h2>   
                                </td>
                               <td>
                                   <h2> Our Company</h2>
                                   <p> Mission Statement:</p>
                                   <p>Business Ethics and Compliance</p>
                                   <p>Diversity at Starbucks</p>
                                   <p> Online Policies</p>
                               </td>
                               <td>
                                   <h2> Career Center </h2>
                               </td>
                               <td></td>
                               <td rowspan="2">
                                <img src="../../assets/img/abutus.jpg" width="250px" height="100px" alt="aboutus" />
                                <h2> A Different Kind of Company</h2>
                                <p>Our mission to inspire and nurture the human spirit - <br> one oerson, one cup, and one neighborhood at a time.</p>
                               </td>           
                           </tr>
                           <tr>
                                 <td colspan="4" class="tdh"> 
                                    <p> Looking for Store Locations?</p>
                                    <h2> <span> Customers Service</span> &nbsp;&nbsp;&nbsp;&nbsp; <span> Sotr Locator</span></h2>     
                                </td>
                           </tr>
                        </table>
                    </div>
                </li>
                <li> <a href="#">CARD </a>
                    <div class="card-list">
                        <table style="width:100%">
                            <tr>
                               <td>
                                   <h2> Manage Your Card</h2>
                                   <p> Login/Create An Account</p>
                                   <p>View Transacitons</p>
                                   <p> Report Lost/Stolen</p>
                               </td>
                               <td> 
                                    <h2> Learn More</h2>  
                                    <p>Starbucks Rewards</p>
                                    <p>Program Terms and Conditions</p>  
                                    <p>Privacy Statement</p>
                                    <p> Card FAQs</p>
                               </td>
                               <td> 
                                   <h2> Starbucks eGifting</h2>
                                   <p> send eGifting now</p>
                               </td>
                               <td></td>
                               <td rowspan="2">
                                    <img src="../../assets/img/card.jpg" width="250px" height="100px" alt="card" />
                                    <h2> Earn rewards with every visits.</h2>
                                    <p> Join Starbucks <br> Rewards today</p>
                                </td>           
                           </tr>
                           <tr>
                                 <td colspan="4" class="tdh">
                                    <p> Looking for Store Locations?</p>
                                    <h2> Store Locator</h2>     
                                </td>
                           </tr>
                        </table>
                </div>
                </li>
                <!-- <li class="address"><i class="fa-solid fa-location-dot"></i> &nbsp;&nbsp;Find A Store</li>  -->
            </ul>
            
           
        </div>


        
<div class="banner-st">
            <!-- <img src="../../assets/img/banner.jpg" alt="logo"> -->
</div>

<div class="starburt-comtainer">
    <div class="box">        
        <div class="body-st">
            <div class="body-top">
                <div class="top top-main">
                    <h1> OUR ESPRESSO, YOUR LATTE</h1>
                    <P>
                        Dark, rich espresso and steamed milk - perfect alone or with a sweet addition.
                    </P>
                    <a> Get your >></a>
                </div>
                <div class="top top-img">
                    <img src="../../assets/img/imgtop.png" width="500px"  alt="imgcoffe">    
                </div>
            </div>
            <div class="body-bottom">
                <div class="bot bottom-img">
                    <img src="../../assets/img/imgbot.png" width="500px" height="50px" alt="imgcoffe">
                </div>
                <div class="bot bottom-main">
                    <h1> OPPORTUNITY</h1>
                    <P>
                        To be more than an employee, to be a partner.
                    </P>
                    <a>Join us >></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-container">
    <div class="footer-st">
        <div class="title-footer">
            <p>
                <span> <i class="fa-brands fa-facebook-f"></i> </span>
                <span> <i class="fa-brands fa-instagram"></i> </span>
            </p>
        </div>
        <div class="main-footer">
            <div class="fullfill">
                <div class="one">
                    <h3> ABOUT US</h3>
                    <p> Our Heritage</p>
                    <p>Our Company</p>
                    <p> Career Center</p>
                    <p>Newsroom</p>
                </div>
                <div class="one">
                    <h3> CUSTOMER SERVICE</h3>
                    <p> Frequently Asked Questions</p>
                </div>
                <div class="one">
                    <h3> QUICK LINKS</h3>
                    <P> Store Locator</P>
                    <p> For Partners</p>
                </div>
                <div class="logo">
                    <img src="../../assets/img/logos.png">
                </div>
            </div>
            <div class="note-footer">
                <p> <i class="fa-solid fa-star"></i> VietNam >> &nbsp;&nbsp; | &nbsp;&nbsp; English &nbsp;&nbsp;&nbsp; <b> Tiếng Việt (VN) >></b></p>
                <p> Web Accessibility  &nbsp;&nbsp;|  &nbsp;&nbsp;Privacy Statement  &nbsp;&nbsp;| &nbsp;&nbsp; Terms of Use  &nbsp;&nbsp;| &nbsp;&nbsp; Site Map  &nbsp;&nbsp;| &nbsp;&nbsp; Cookie Perferences </p>
                <p> @&nbsp;2022 Starbucks Coffee Company. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>
<button><a href="#top">Back to top of page</a></button>